<div>
  <mat-button-toggle-group [value]="currentRoute" #group="matButtonToggleGroup" (change)="onValueChange(group.value)" name="fontStyle" aria-label="Font Style">
    <mat-button-toggle [value]="'/' + homePageUrl" [routerLink]="homePageUrl">Home</mat-button-toggle>
    <mat-button-toggle [value]="'/' + clientsPageUrl" [routerLink]="clientsPageUrl">Clients</mat-button-toggle>
    <mat-button-toggle [value]="'/' + carsPageUrl" [routerLink]="carsPageUrl">Cars</mat-button-toggle>
    <mat-button-toggle [value]="'/' + loginPageUrl" [routerLink]="loginPageUrl">Login</mat-button-toggle>
  </mat-button-toggle-group>
</div>
